html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    /* 最小宽度 */
    min-width: 1366px;
}
.el-card {
    margin-top: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}
.el-icon-success {
    color: #67C23A;
    font-size: 16px;
}
.el-icon-error {
    color: #F56C6C;
    font-size: 16px;
}
.el-cascader .el-cascader-menu {
    height: 300px !important;
}